body{
    color: green;
}
main{
    background-color: white;
    box-shadow: 10px 5px 5px green ;
    border: 3px black solid;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}
#gepPont{
    color: red;
}
#jatekosPont{
    color: red;
}
img{
    width: 75px;
    height: 100px;
}
#kepekHelye{
    display: inline;
}
@media screen and (max-width: 520px)
{
    
    main{
        background-color: white;
        box-shadow: 10px 5px 5px green ;
        border: 3px black solid;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        
    }
}
